*{
  font-family: NanumGothic;
  box-sizing: border-box;
  padding: 0;
  /* margin: 0; */
}

body{
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

tbody>tr>td:first-of-type{
  /* table에서만 사용 가능한 속성 */
  vertical-align: top;
  font-weight: bold;
}

tbody>tr>td:last-of-type>input{
  width: 210px;
  padding: 2px;
}

tbody>tr>td:last-of-type>span{
  font-size: 12px;
}

tfoot button{
  width: 100%;
  margin-top: 10px;
}

.check{ color: green;}
.error{ color: red;}