/* *{
  border: 1px solid black;
} */

body{
  display: flex;
  justify-content: center;
}

body>div{
  display: flex;
  justify-content: space-between;
  width: 50%;
  border: 3px solid black;
}

div>div{
  margin: 10px;
  font-size: 80px;
  border: 3px solid black;
  width: 100px;
  padding: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}