<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인화면</title>
</head>
<body>
  <h1>KH 온라인 문방구</h1>
  <form action="/orderProduct.do" method="post">
    <table border="1">
      <thead>
        <tr>
          <th colspan="3">주문자 명</th>
        </tr>
        <tr>
          <th colspan="3"><input type="text" name="name"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>품목</th>
          <th>가격</th>
          <th>수량</th>
        </tr>
        <tr>
          <td>
            검정 펜
          </td>
          <td>
            500원
          </td>
          <td>
            <input type="number" name="blackPen" value="0" min="0" max="100">
          </td>
        </tr>
        <tr>
          <td>
            빨간 펜
          </td>
          <td>
            700원
          </td>
          <td>
            <input type="number" name="redPen" value="0" min="0" max="100">
          </td>
        </tr>
        <tr>
          <td>
            파란 펜
          </td>
          <td>
            700원
          </td>
          <td>
            <input type="number" name="bluePen" value="0" min="0" max="100">
          </td>
        </tr>
        <tr>
          <td>
            화이트
          </td>
          <td>
            1000원
          </td>
          <td>
            <input type="number" name="white" value="0" min="0" max="100">
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3">
            <button type="submit">구매</button>
            <button type="reset">초기화</button>
          </th>
        </tr>
      </tfoot>
    </table>
  </form>
</body>
</html>