<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ajax 테스트</title>
</head>
<body>
  <h3>회원 번호를 입력 받아 일치하는 회원의 이메일 조회하기(비동기)</h3>
  회원 번호 : <input type="number" min="1" max="999" id="inputMemberNo">
  <button id="selectMemberNo">조회</button>

  <h4 id="result1">결과</h4>

  <hr>

  <h3>이메일이 일치하는 회원의 전화번호 조회(비동기)</h3>
  이메일 : <input type="text" id="inputEmail">
  <button id="btn2">전화번호 조회</button>
  <h4 id="result2">결과</h4>


  <script src="/js/admin/ajaxTest.js"></script>
</body>
</html>