<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>성공</title>
</head>
<body>
   <h1>[[${searchMember.memberEmail}]] 회원 정보</h1>
   <h3 th:text="|${param.inputEmail} 회원 정보|"></h3>
  <table border="1" th:object="${searchMember}">
    <tr>
      <th>회원 번호</th>
      <td th:text="*{memberNo}"></td>
    </tr>
    <tr>
      <th>이메일</th>
      <td th:text="*{memberEmail}"></td>
    </tr>
    <tr>
      <th>닉네임</th>
      <td th:text="*{memberNickname}"></td>
    </tr>
    <tr>
      <th>전화 번호</th>
      <td th:text="*{memberTel}"></td>
    </tr>
    <tr>
      <th>주소</th>
      <!-- Elvis 연산자 -->
      <!-- memberAddress가 있으면 memberAddress -->
      <!-- memberAddress가 없으면 '미입력' -->
      <td th:utext="*{memberAddress} ?: '미입력'"></td>
    </tr>
    <tr>
      <th>가입일</th>
      <td th:text="*{enrollDate}"></td>
    </tr>
    <tr>
      <th>권한</th>
      <th:block th:switch="*{authority}">
        <td th:case="1">
          일반 사용자
          <form action="changeAuthority" method="post" style="display: inline;">
            <input type="hidden" th:value="*{memberNo}" name="memberNo">
            <input type="hidden" th:value="*{memberEmail}" name="memberEmail">
            <input type="hidden" th:value="*{authority}" name="authority">
            <button>관리자로 변경</button>
          </form>
        </td>
        <td th:case="2">
          관리자
          <form action="changeAuthority" method="post" style="display: inline;">
            <input type="hidden" th:value="*{memberNo}" name="memberNo">
            <input type="hidden" th:value="*{memberEmail}" name="memberEmail">
            <input type="hidden" th:value="*{authority}" name="authority">
            <button>일반 사용자로 변경</button>
          </form>
        </td>
      </th:block>
    </tr>
    <tr>
      <th>권한</th>
        <td>
          <th:block th:if="*{authority == 1}">일반 사용자</th:block>
          <th:block th:if="*{authority == 2}">관리자</th:block>
  
          <form action="changeAuthority" method="POST" style="display: inline;">
            <input type="hidden" name="memberNo" th:value="*{memberNo}">
            <input type="hidden" name="memberEmail" th:value="*{memberEmail}">
            <input type="hidden" th:value="*{authority}" name="authority">
            
            <button th:if="*{authority == 1}">관리자로 변경</button>
            <button th:if="*{authority == 2}">일반 사용자로 변경</button>
          </form>
        </td>
    </tr>
    <tr>
      <th>탈퇴 여부</th>
      <td>
        [[*{memberDelFl}]]
        <!-- <th:block th:text="*{memberDelFl}"></th:block> -->

        <!-- memberDelFl 값이 Y인 경우에만 노출 -->
        <th:block th:if="*{memberDelFl == 'Y'}">

        <!-- 왜 form태그에 POST로 하는가>
          INSERT/UPDATE/DELETE 구문을
          주소에서 파라미터를 마음대로 수정 가능한
          GET 방식으로 구현하게 되면 
          DB 데이터가 임의로 변하게 되는 문제가 발생할 수 있기 때문에
          주소로 수정 못 하게 POST를 이용
        -->
          <form action="restoration" method="post" style="display: inline;">
            <input type="hidden" th:value="*{memberNo}" name="memberNo">
            <input type="hidden" th:value="*{memberEmail}" name="memberEmail">
            <button>복구</button>
          </form>
        </th:block>
      </td>
    </tr>
  </table>
  <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
  <br>
  <button class="return-btn">메인 페이지</button>
  <button onclick="history.back()">돌아가기</button>

  <!-- 비밀번호 초기화 -->
  <form action="initPw" method="post" th:object="${searchMember}">
    <input type="hidden" th:value="*{memberNo}" name="memberNo">
    <input type="hidden" th:value="*{memberEmail}" name="memberEmail">
    <button style="color: red; background-color: white;">비밀번호 초기화</button>
  </form>
  <script th:inline="javascript">
    const returnBtn = document.querySelector('.return-btn');
    returnBtn.addEventListener('click', ()=>{
      location.href='main';
    });

    // thymeleaf natural template
    // - JS 구문에서 타임리프 코드 작성 시
    //   JS 문법 오류가 발생하는 것을 방지
    
    const message = /*[[${message}]]*/ "메시지";
    if(message != null){
      alert(message);
    }
  </script>
</body>
</html>