<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="edu.kh.project.admin.model.mapper.AjaxMapper">
	
	<!-- 회원 번호로 이메일 조회 -->
	<select id="selectMemberNo" resultType="string">
		SELECT MEMBER_EMAIL FROM "MEMBER" WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<select id="selectEmail" resultType="string">
		SELECT MEMBER_TEL FROM "MEMBER" WHERE MEMBER_EMAIL = #{inputEmail}
	</select>
</mapper>