<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="edu.kh.project.admin.model.mapper.AjaxMapper">
	
	<!-- 회원 번호로 이메일 조회 -->
	<select id="selectMemberNo" resultType="string">
		SELECT MEMBER_EMAIL FROM "MEMBER" WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<select id="selectEmail" resultType="string">
		SELECT MEMBER_TEL FROM "MEMBER" WHERE MEMBER_EMAIL = #{inputEmail}
	</select>
	
	<!-- 회원 번호 일치하는 회원 정보 조회 -->
	<select id="selectMember" resultType="Member">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NICKNAME , MEMBER_DEL_FL,
        	MEMBER_TEL , MEMBER_ADDRESS , AUTHORITY ,
        	TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') AS ENROLL_DATE 
    	FROM "MEMBER"
    	WHERE MEMBER_NO = #{no}
	</select>
</mapper>