@font-face {
  font-family: 'TTTtangsbudaejjigaeB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
:root{
  font-size: 62.5%;
  --color-main: #E9B824;
}
li{
  list-style-type: none;
}

*{
  color: var(--color-main);
  box-sizing: border-box;
  font-family: 'TTTtangsbudaejjigaeB';
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}
a{
  text-decoration: none !important;
}
body{
  background-color: #F1EFEF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
main{
  display: flex;
  flex-direction: column;
  width: 144rem;
}

/* 헤더 */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 144rem;
  height: 10rem;
  margin-bottom: 2rem;
}
nav{
  width: 80rem;
}
nav>ul{
  display: flex;
  justify-content: space-between;
}
.title{
  font-size: 5rem;
}
.search{
  background: url(../image/AdobeStock_434309168.jpeg) no-repeat center;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.recipe{
  display: flex;
  justify-content: space-around;
}
.recipe-row{
  width: 30rem;
  height: 40rem;
  background-image: url(../image/pexels-ella-olsson-1640774.jpg);
  border-radius: 2rem;
}
.recipe-title{
  font-size: 4rem;
}
#input-search{
  width: 55rem;
  height: 6rem;
  font-size: 3rem;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
}