@font-face {
  font-family: 'TTTtangsbudaejjigaeB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
:root{
  font-size: 62.5%;
  --color-main: #FF884B;
  --color-bg: #F1EFEF;
  --color-bg2: #FFD384;
  --padding-font: 0.5rem 1rem 0;
}
input, textarea, select, button{
  border: none;
}
button{
  cursor: pointer;
}
*{
  color: var(--color-main);
  box-sizing: border-box;
  font-family: 'TTTtangsbudaejjigaeB';
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid black;
}
a{
  text-decoration: none;
}
body{
  /* background-color:#e5e5e5 */
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
main{
  display: flex;
  flex-direction: column;
  width: 144rem;

}

/* 헤더 */
.header{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 15rem;
  transition: 1s;
}
.head-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 144rem;
  height: 15rem;
  position: relative;
}

nav{
  width: 80rem;
}
.menu{
  font-size: 2.5rem;
}
.dropdown{
  position: relative;
  width: 20rem;
  text-align: center;
}
.dropdown>ul{
  position: absolute;
  width: 100%;
  top: 10rem;
}
.dropdown>ul>li{
  text-align: center;
  font-size: 1.5rem;
  margin: 0.5rem;
}
.dropdown-item:hover{
  color: chocolate;
}
nav>ul{
  display: flex;
  justify-content: space-between;
}
.title{
  font-size: 5rem;
}
.search{
  background: url(../image/pexels-ella-olsson-1640774.jpg) no-repeat center;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-size: cover;
  position: relative;
}
.dpnone{
  opacity: 1 !important;
}
.li-container{
  opacity: 0;
  transition: 1s;
}


/* 레시피 */
.recipe-row{
  display: flex;
  justify-content: space-between;
  width: 144rem;
}
.recipe-col{
  width: 30rem;
  height: 40rem;
  border-radius: 2rem;
}
.small-title{
  font-size: 4rem;
}
#input-search{
  width: 55rem;
  height: 6rem;
  font-size: 3rem;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
}
.recipe-image{
  background-color: black;
  height: 82%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.recipe-name, .recipe-hashtag{
  height: 9%;
  font-size: 3rem;
  text-align: center;
  border: 0.5rem solid black;
}
.recipe-hashtag{
  border-top: none;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

/* 쿠킹 클래스 */
.cooking-col1{
  background-color: gray;
  display: flex;
  border-radius: 2rem;
  width: 68rem;
  height: 44rem;
  justify-content: space-evenly;
  align-items: center;
}
.cooking-col2{
  background-color: #F1EFEF;
}

.cooking-col2:first-of-type{
  background-color: aquamarine;
}



/* 공지사항 */
.cs-title{
  width: 90%;
  margin: 3rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
}
.cs-title>p{
  margin: 0.5rem;
  font-size: 3rem;
  color: var(--color-bg);
}
.main-container{
  background-color: var(--color-bg2);
  min-height: 75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
  border-radius: 2rem;
  padding-bottom: 3rem;
}
.content-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
}
.notice{
  cursor: pointer;
  font-size: 2rem;
  margin: 0.5rem 0;
  width: 90%;
  border-radius: 1rem;
  background-color: var(--color-bg);
  height: 3rem;
  padding: 0.5rem 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
.notice *{
  color: black;
}
.notice>span:first-of-type{
  width: 7%;
}
.notice>span:nth-of-type(2){
  width: 60%;
}
.notice>span:nth-of-type(3){
  width: 10%;
}
.notice>span:nth-of-type(4){
  width: 10%;
}
.notice>span:nth-of-type(5){
  width: 8%;
}
.page-number{
  color: var(--color-bg);
}

.cs-subtitle{
  border-radius: 2rem;
  background-color: var(--color-bg);
  width: fit-content;
  padding: 0.5rem;
  font-size: 2rem;
  margin: 1rem 0;
  padding: 1rem 2rem 0.5rem;
}
.cs-subtitle-container{
  width: 90%;
}

.signup-row{
  display: flex;
  width: 60rem;
  margin: 2rem;
}

.signup{
  width: 30%;
  color: var(--color-bg);
  font-size: 2rem;
}

.input-signup{
  width: 70%;
  height: 3rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

/* 공지사항 notice */

.notice-content{
  min-height: 60rem;
  padding: 2rem;
}
#searchNotice{
  border-radius: 1rem;
  height: 100%;
  padding: 0 1rem;
  border: none;
}
.searchForm{
  margin: 0.5rem;
}
.searchForm>button{
  height: 100%;
  border-radius: 1rem;
  width: 5rem;
  cursor: pointer;
  border: none;
}


/* QnA */
.qna-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin-bottom: 1.5rem;
}

.qna-q{
  width: 100%;
  background-color: var(--color-bg);
  border-radius: 1rem;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem 0;
  height: 4rem;
  cursor: pointer;
}
.qna-a{
  width: 100%;
  background-color: var(--color-bg);
  border-radius: 1rem;
  font-size: 3rem;
  padding: 0.5rem 1rem 0;
  height: 0;
  transition: 300ms;
  opacity: 0;
}
.qna-a-act{
  height: auto;
  opacity: 1;
}


/* 신고 */
.reportForm{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 60rem;
}

.select-report{
  border-radius: 0.5rem;
  font-size: 1.8rem;
  padding: 0.5rem 1rem 0;
}
.report-title{
  margin: 1rem 0;
  border-radius: 0.7rem;
  font-size: 3rem;
  padding: 0.5rem 1rem 0;
}

.report-textarea{
  width: 100%;
  height: 40rem;
  margin: 1rem 0;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 0.5rem 1rem 0;
  resize: none;
}
.report-file{
  height: 4rem;
  margin: 1rem 0;
}

.report-btn{
  align-self: flex-end;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 0.5rem 1rem 0;
}



/* 1대1 문의 */
.inquiry-content{
  min-height: 20rem;
}


/* 레시피 화면 */
.media-container{
  display: flex;
  height: 50rem;
  width: 90%;
  margin: 5rem 0;
  /* background-color: cadetblue; */
  padding: 2rem;
  border-radius: 2rem;
}

.main-media{
  width: 60%;
  background-color: var(--color-bg);
  height: 100%;
  border-radius: 2rem;
}

.recipe-summary{
  font-size: 4rem; margin: 0;
  width: 30%;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
  /* background-color: var(--color-bg); */
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.recipe-summary *{
  padding: 1rem 1rem 0;
  background-color: var(--color-bg);
  border-radius: 2rem;
  text-align: center;
}

.recipe-writer{
  width: 70%;
  height: 10rem;
  background-color: var(--color-bg);
  border-radius: 2rem;
  display: flex;
  align-items: center;
}
.recipe-content{
  width: 70%;
  margin: 3rem 0;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
}
.recipe-writer-image{
  height: 8rem;
  width: 8rem;
  margin: 1rem;
  border-radius: 1rem;
}
.recipe-writer-nickname{
  font-size: 2rem;
  margin: 0 1rem;
}
.recipe-writer-info{
  font-size: 2rem;
  width: 65rem;
  margin-left: 2rem
}

.content{
  background-color: var(--color-bg);
  border-radius: 2rem;
  font-size: 2rem;
  padding: 0.5rem 1rem 0;
  min-height: 15rem;
}

.recipe-subtitle{
  font-size: 3rem;
  padding: 0.5rem 1rem 0;
  margin: 1rem 0;
}

.recipe-step{
  padding: var(--padding-font);
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.recipe-photo{
  display: flex;
  justify-content: space-between;
}

.recipe-photo>div{
  background-color: var(--color-bg);
  width: 25rem;
  height: 30rem;
  border-radius: 1rem;
}

.recipe-photos{
  width: 80%;
}







footer{
  height: 20rem;
}